<div *ngIf="product">

  <!-- The header -->
  <header class="page-header">

    <div class="page-heading">
      <h1 class="page-title">{{pageTitle}} {{product.name}}?</h1>
    </div>
  
  </header>
  <!-- End of the header -->
  
  <main class="site-main">
  
    <div id="content" class="site-content">

      <div id="delete_product_form">
        
        <p>Are you sure you want to delete the product "{{product.name}}"?</p>

        <div class="form-actions">
          <div class="form-action">
            <button class="button btn-primary has-icon icon-left" (click)="deleteProduct()"><fa-icon [icon]="faTrash"></fa-icon> <span>Delete</span></button>
          </div>
          <div class="form-action">
            <button class="button has-icon icon-left" (click)="goBack()"><fa-icon [icon]="faTimes"></fa-icon> <span>Cancel</span></button>
          </div>
        </div>

      </div>

    </div>

  </main>

</div>